*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster Two', cursive;
}

html {
  font-family: 'Lobster Two', cursive;
}

a {
  text-decoration-color: unset;
}