*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster Two', cursive;
}

html {
  font-family: 'Lobster Two', cursive;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration-color: unset;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

$beige: rgb(230, 186, 147);
$beige-tone: rgb(219, 175, 136);
$brown-light: #cc8351;
$brown: rgb(133, 96, 69);
$brown-dark: #6c4c34;
$brown-darker: #815230;
$brown-shade: rgb(115, 112, 107);
$gold-brown: #e3b568;

$blue: #006daf;
$blue-light: #c0d8e0;
$silver: #ccc;
$red: #ad343e;
$gold: #ffbf00;
$yellow: #eab000;
$black: #111;
$green: green;

$gryffindor-red: #7F0909;
$gryffindor-yellow: #FFC500;
$ravenelaw-blue: #000A90;
$ravenelaw-brown: #946B2D;
$hufflepuff-yellow: #EEE117;
$hufflepuff-black: #000;
$slytherin-green: #0D6217;
$slytherin-grey: #AAA;

$student:#AE2E23;
$staff: #22737F;
$ghost: #D7CDD2;
$undefined: #32394B;