body {
  background: #f4f4f4;
  font-family: "Comfortaa", sans-serif;
}

.main-content__wrapper {
  text-align: center;
  padding: 2em;
  transition: 0.3s ease;
  height: 100vh;
}

@mixin bg-gradient($deg, $color1, $color2) {
  background: linear-gradient($deg,
      $color1 5%,
      $color2 5%,
      $color2 10%,
      $color1 10%,
      $color1 20%,
      $color2 20%,
      $color2 30%,
      $color1 30%,
      $color1 45%,
      $color2 45%,
      $color2 55%,
      $color1 55%,
      $color1 65%,
      $color2 65%,
      $color2 70%);
}

.gryffindor {
  .avatar__tie {
    @include bg-gradient(306deg, $red, $gold);

    &:before {
      @include bg-gradient(-306deg, $red, $gold);
    }
  }
}

.hufflepuff {
  .avatar__tie {
    @include bg-gradient(306deg, $yellow, $black);

    &:before {
      @include bg-gradient(-306deg, $yellow, $black);
    }
  }
}

.ravenclaw {
  .avatar__tie {
    @include bg-gradient(306deg, $blue, $blue-light);

    &:before {
      @include bg-gradient(-306deg, $blue, $blue-light);
    }
  }
}

.slytherin {
  .avatar__tie {
    @include bg-gradient(306deg, $green, $silver);

    &:before {
      @include bg-gradient(-306deg, $green, $silver);
    }
  }
}

.slytherin,
.gryffindor,
.ravenclaw {

  .sorting-hat__answer,
  aside.context,
  aside.context a,
  .sort-house,
  .avatar-gender {
    color: #fff;
  }

  .avatar-gender input:checked+label:after {
    background: #fff;
  }

}

.avatar {
  margin: -30px auto 0;
  text-align: center;
  position: relative;
  display: inline-block;

  &:before {
    width: 20rem;
    height: 20rem;
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    left: -4.25rem;
    top: -9.6875rem;
  }

  &__head {
    width: 11.625rem;
    height: 8.25rem;
    margin: auto;
    position: relative;
    background: linear-gradient(to bottom, $beige, $beige-tone);
    box-shadow: inset 0 -4px 10px rgba($brown, 0.15),
      0 2px 3px rgba(0, 0, 0, 0.05);
    // border-radius: 50px 50px 40px 40px;
    // border-radius: 10% 10% 30% 32% / 10% 10% 26% 28% ;
    border-radius: 30% 76% 55% 50% / 29% 39% 47% 58%;
    z-index: 4;
  }

  &__eyes {
    width: 2.2rem;
    height: 2.375rem;
    border-radius: 50%;
    background: #333;
    position: absolute;
    top: 3.125rem;
    z-index: 2;

    &.left {
      left: 30px;

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: antiquewhite;
        position: absolute;
        top: 5px;
      }

      // &.female::after {
      //   content: "‿";
      //   width: 5px;
      //   position: absolute;
      //   color: #333;
      //   left: -8px;
      //   top: -24px;
      //   font-size: 27px;
      // }
    }

    &.right {
      right: 30px;
      // top: 5.9rem;
      top: 3.2em;

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: antiquewhite;
        position: absolute;
        top: 5px;
        left: 20px;
      }

      // &.female::after {
      //   content: "‿";
      //   width: 5px;
      //   position: absolute;
      //   color: #333;
      //   left: 19px;
      //   top: -25px;
      //   font-size: 27px;
      // }
    }

    &:before {
      content: "";
      position: absolute;
      width: 120%;
      height: 0;
      left: 0;
      margin-top: -15px;
      border-top: 8px solid $brown;
      border-radius: 10px 10px 0 0;
      margin-left: -10%;
    }
  }

  &__ears {
    z-index: 1;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 45px;
    background: $beige-tone;
    left: -15px;
    border-radius: 100% 50% 50% 100%;
    box-shadow: inset -5px -10px 20px rgba($brown, 0.1);

    &.right {
      right: -15px;
      left: auto;
      border-radius: 50% 100% 100% 50%;
      top: 3rem;
    }
  }

  &__hair {
    width: 114%;
    height: 120px;
    background: $brown;
    border-radius: 50% 50% 30px 30px;
    position: absolute;
    top: -40px;
    left: -7%;

    &:after {
      content: "";
      position: absolute;
      z-index: 5;
      width: 140px;
      height: 60px;
      top: 0px;
      border-radius: 40% 100% 3px 40px;
      background: $brown;
      transform: rotate(4deg);
      right: -2px;
    }

    &:before {
      content: none;
      position: absolute;
      width: 100%;
      height: 110px;
      background: linear-gradient(to right,
          $brown,
          $brown-dark 50%,
          $brown-dark 60%,
          $brown);
      top: 110px;
      left: 0;
      border-radius: 0 0 30px 30px;
    }

    &.female:before {
      content: '';
    }
  }

  &__coat {
    width: 130px;
    height: 60px;
    background: #333;
    position: relative;
    margin: -10px auto 0;
    border-radius: 60px 60px 0 0;
    z-index: 1;
    overflow: hidden;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 120%;
      width: 30px;
      background: $silver;
      top: 0;
      left: 50%;
      margin-left: -30px;
      border-radius: 70% 80% 80% 70%/25% 25% 130% 130%;
      transform: rotate(-20deg);
    }

    &:after {
      transform: rotate(20deg);
      margin: 0;
    }
  }

  &__shirt {
    width: 35px;
    height: 70px;
    background: #f9f9f9;
    margin: auto;
    border-radius: 70% 80% 80% 70%/25% 25% 130% 130%;
    position: relative;
    z-index: 2;
  }

  &__tie {
    @include bg-gradient(306deg, $black, $black);
    width: 18px;
    margin: auto;
    height: 100%;
    border-radius: 90% 60% 2px 2px/130% 130% 25% 25%;

    &:before {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50% 50% 10px 10px / 25% 25% 130% 130%;
      margin: auto;
      top: -3px;
      left: 0;
      right: 0;
      background: black;
      @include bg-gradient(-306deg, $black, $black);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }
  }

  &__mouth {
    background: #333;
    position: absolute;
    width: 10px;
    height: 5px;
    margin: auto;
    left: 0;
    right: 0;
    top: 99px;
    border-radius: 50%;
  }
}

.sorting-hat {
  position: relative;
  height: 15rem;

  &__top {
    position: relative;
    background: $brown-darker;
    height: 40px;
    width: 180px;
    margin: auto;
    border-radius: 40px 40px 50% 50%;
    top: 170px;
    z-index: 13;
    box-shadow: inset 0 -3px 4px 8px rgba($brown-dark, 0.4);
    opacity: 0;

    &:before {
      content: "";
      position: absolute;
      background: $brown-darker;
      width: 165px;
      height: 70px;
      bottom: 14px;
      left: 5px;
      border-radius: 50% 50% 120% 10% / 130% 130% 25% 25%;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 59px;
      left: 15px;
      border-left: 80px solid transparent;
      border-right: 65px solid transparent;
      border-bottom: 120px solid $brown-darker;
    }
  }

  &__base {
    width: 250px;
    background: $brown-darker;
    height: 35px;
    border-radius: 50%;
    margin: auto;
    top: 144px;
    position: relative;
    z-index: 12;
    margin-top: -50px;
    opacity: 0;
  }

  &__eye {
    z-index: 15;
    background: $brown-dark;
    width: 45px;
    height: 45px;
    position: absolute;
    margin: auto;
    left: 50%;
    bottom: 58px;
    margin-left: -48px;
    border-radius: 100% 0px;
    transform: rotate(50deg);
    box-shadow: inset 2px 1px 10px $brown-darker,
      inset -2px -3px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    opacity: 0;

    &.right {
      margin-left: 3px;
      transform: rotate(-50deg) scaleX(-1);
    }
  }

  &__mouth {
    width: 150px;
    height: 30px;
    background: $brown-dark;
    position: absolute;
    margin: auto;
    bottom: 37px;
    left: 50%;
    margin-left: -75px;
    z-index: 15;
    border-radius: 0 100%;
    transform: rotate(-3deg);
    box-shadow: inset 2px 1px 10px $brown-darker,
      inset -2px -3px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    opacity: 0;
  }

  &__answer {
    font: 32px "Lobster Two", sans-serif;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    position: absolute;
    transform: rotate(-15deg);
    left: 50%;
    margin-left: -220px;
    top: 37px;
    display: inline-block;
    z-index: 5;
    width: 0;
    opacity: 0;

    &:before {
      content: "(";
      position: absolute;
      font: 700 40px "Comfortaa";
      border-radius: 10px;
      top: 45px;
      left: 50%;
      transform: rotate(-20deg);
    }
  }
}

.sort-house {
  border: 3px solid;
  margin: 20px auto 0;
  background: transparent;
  font: 35px "Lobster Two", cursive;
  padding: 8px 20px;
  cursor: pointer;
  width: 186px;
  position: relative;
  border-radius: 0;

  &:before {
    content: "";
    position: absolute;
    width: 176px;
    height: 56px;
    left: 2px;
    top: 2px;
    border: 2px solid;
  }

  &:hover {
    background: transparent;
    color: white;

    &:before {
      width: 102%;
      height: 107%;
      transition: 0.3s ease;
      left: -2px;
      top: -2px;
      right: auto;
      color: white;
    }
  }

  &:focus {
    outline: none;
  }
}

.avatar-gender {
  display: flex;
  max-width: 300px;
  margin: 1.5rem auto 0;
  align-items: center;

  >p,
  div {
    flex: auto;
    color: white;
  }

  p {
    font-weight: 700;
  }

  input {
    opacity: 0;
    color: white;

    &:checked+label:after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      top: 7px;
      left: -18px;
      background: #ccc;
      border-radius: 50%;
    }
  }

  label {
    position: relative;
    padding: 5px;

    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border: 2px solid;
      border-radius: 50%;
      left: -22px;
      top: 3px;
    }
  }

  &.reminder {
    &::after {
      content: "Click Name to go to relevant house.";
      position: absolute;
      left: 50%;
      transform: translate(-50%, -26px);
      animation: show 2s linear infinite;
      font-size: 16px;
      // color: #d98213;
      color: #f4d946;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//animations

.main-content__wrapper,
.avatar__tie,
.avatar__coat {
  transition: background 0.3s ease, color 0.3s ease;
}

.avatar__mouth.animate {
  transition: 0.5s ease 2.5s;
  width: 40px;
  height: 16px;
  border-radius: 0 0 50px 50px;
}

.sorting-hat.animate {
  .sorting-hat__answer {
    transition: opacity 0.4s ease 2.3s;
    width: auto;
    opacity: 1;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.2s;
    }
  }

  .sorting-hat__top {
    top: 170px;
    transition: 0.6s ease;
    opacity: 1;
  }

  .sorting-hat__base,
  .sorting-hat__eye,
  .sorting-hat__mouth {
    transition: 0.6s ease;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 1;
  }

  .sorting-hat__mouth {
    animation: mouth-move 2.5s forwards 0.6s;
  }

  .sorting-hat__eye {
    animation: eye-move-left 2.5s forwards 0.6s;

    &.right {
      animation: eye-move-right 2.5s forwards 0.6s;
    }
  }
}


/* animation ends */
.main-content__wrapper {
  background: url('../img/hogwarts.png');
}

#front-page-header {
  background: left / cover no-repeat url('../img/films-desk.webp');
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h1 {
    top: 1rem;
    color: #f1c40f;
    text-align: center;
    margin-top: 2rem;
  }

  .title {
    width: 400px;
    top: 50%;
    filter: invert(74%) sepia(10%) saturate(466%) hue-rotate(177deg) brightness(82%) contrast(84%);
    top: 50%;
    margin: 2rem auto;
  }

  .frontPageBadge {
    width: 190px;
    // animation: spinIn 2s both 1s;
    animation: spinIn 2s both;
  }

  //need to change position when it comes to smaller screen
  .spell {
    order: 1;

    @media screen and (max-width: 1220px) {
      display: none;
    }
  }

  .quiz {
    padding: 1.5rem;
    background: rgb(80, 126, 177);
    background: linear-gradient(120deg, #507eb1 0%, #709dc7 17%, #dde9f5 35%, #eaf2f9 47%, #ced3d7 70%, #709dc7 100%);
    border-radius: 10px;
    color: $gryffindor-red;
    font-size: 16px;
    transition: transform .3s;
    animation: tada 2s timing-function delay iteration-count direction fill-mode;

    &:hover {
      transform: scale(1.1);
    }
  }
}



#fp-main {
  position: relative;

  h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .poem {
    color: $silver;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.pull-left {
      margin-left: auto;
      padding-right: 5rem;
    }

    &.pull-right {
      right: 0;
      margin-right: 2rem;
      text-align: right;
    }
  }
}

.sorting-hat__answer.click-reminder {
  &::after {
    content: 'Click to next scene.';
    font-size: 14px;
    transform: skewX(-21deg);
    position: absolute;
    top: -8px;
    right: -104px;
    animation: flip 1.5s 4s infinite both;
  }
}

/* keyframes */
@keyframes spinIn {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transform: rotateZ(0deg) scale3d(0, 0, 0);
    transform-origin: center center
  }

  50% {
    opacity: 1
  }

  70% {
    transform: rotateZ(380deg) scale3d(1, 1, 1);
    transform-origin: center center
  }

  100% {
    transform: rotateZ(360deg) scale3d(1, 1, 1);
    transform-origin: center center
  }
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes mouth-move {
  0% {
    height: 20px;
    border-radius: 50% 100%;
  }

  20% {
    height: 15px;
  }

  60% {
    height: 15px;
    transform: rotate(8deg);
  }

  62% {
    height: 28px;
    border-radius: 100% 0;
    transform: rotate(0deg);
  }

  80% {
    height: 32px;
  }

  100% {
    height: 20px;
  }
}

@keyframes eye-move-left {
  0% {
    transform: rotate(50deg);
  }

  20% {
    height: 35px;
    transform: rotate(58deg);
  }

  50% {
    height: 35px;
    transform: rotate(58deg);
  }

  54% {
    height: 40px;
    transform: rotate(58deg);
  }

  55% {
    height: 45px;
    transform: rotate(51deg);
  }

  80% {
    transform: rotate(45deg);
  }
}

@keyframes eye-move-right {
  0% {
    transform: rotate(-50deg) scaleX(-1);
  }

  20% {
    height: 35px;
    transform: rotate(-58deg) scaleX(-1);
  }

  50% {
    height: 35px;
    transform: rotate(-58deg) scaleX(-1);
  }

  54% {
    height: 40px;
    transform: rotate(-58deg) scaleX(-1);
  }

  55% {
    height: 45px;
    transform: rotate(-49deg) scaleX(-1);
  }

  80% {
    transform: rotate(-45deg) scaleX(-1);
  }
}

@keyframes flip {
  from {
    transform: perspective(400px) rotateY(-360deg) scale3d(1, 1, 1);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94)
  }

  50% {
    transform: perspective(400px) rotateY(-180deg) scale3d(1.2, 1.2, 1.2);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94)
  }

  to {
    transform: perspective(400px) rotateY(0deg) scale3d(1, 1, 1);
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035)
  }
}

footer {
  position: relative;

  .go-to-spell-wrapper {
    position: absolute;
    bottom: calc(100vh - 615px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;


    .go-to-spell {
      width: 3rem;
      animation: tada 1.2s infinite;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.2s;
        cursor: pointer;
      }
    }

    a {
      color: $silver;

      &:hover {
        transform: scale(1.1);
        font-size: 18px;
        text-indent: 10px;
        transition: transform 0.2s, font-size 0.2s, text-indent 0.1s;
      }
    }
  }
}

//menu setting
$transition-type: ease-in;
$overlay-color: #1e88e5;
$texts-and-icons: #fff;
$body-background: url(https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/96.jpg);

//ZOOM EFFECT ON HOVER MENU ICONS AND LINKS

@keyframes zoom {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.full-menu,
.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-image: $body-background;
  background-size: cover;
  font-size: 3em;
}

// SET BASIC CONTENT AND ANIMATION EFFECT- MENU OVERLAY

.full-menu {
  position: fixed;
  background-color: $overlay-color;
  opacity: 0.5;
  transform: translateX(100%);
  transition: all 400ms $transition-type;
  background-color: #026873;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, .07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255, 255, 255, .13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, .17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, .19) 50%);
  background-size: 13px, 29px, 37px, 53px;

  .project-info {
    position: absolute;
    bottom: 0;
    transform: translateY(-1rem);
  }

  li {
    font-size: 4em;
    color: $texts-and-icons;
    opacity: 0;
    transform: translateY(2%);
    transition: all 300ms $transition-type;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      height: 5px;
      width: 0%;
      left: 0;
      bottom: 0;
      background-color: $texts-and-icons;
      transition: width 200ms $transition-type;
    }

    &:hover:after {
      width: 100%;
    }
  }

  ul {
    list-style: none;
  }

  &.active {
    transform: translateX(-50%);
    opacity: 1;
    z-index: 20;
    top: 0;

    .menu {
      text-align: center;

      ul {
        font-size: calc(10px + (26 - 14) * ((80vw - 300px) / (1600 - 300)));

        &>*:not(:last-child) {
          margin-bottom: .5rem;
        }
      }
    }

    .house-menu {
      &:nth-of-type(1) {
        transition-delay: .3s;
      }

      &:nth-of-type(2) {
        transition-delay: .4s;
      }

      &:nth-of-type(3) {
        transition-delay: .5s;
      }

      &:nth-of-type(4) {
        transition-delay: .6s;
      }
    }

    .spell-menu {
      transition-delay: .7s;
      margin-top: 2rem;
    }

    .quiz-menu {
      transition-delay: .8s;
    }

    li {
      opacity: 1;
      transform: translateX(0%);

      &:hover {
        animation: zoom 200ms $transition-type;
      }
    }
  }
}

// SET BASIC CONTENT AND ANIMATION EFFECT- HAMBURGUER MENU

.hamburguer {
  position: fixed;
  width: 2em;
  height: 2em;
  margin: 7vh 5vw;
  z-index: 21;
  cursor: pointer;
  top: 0;
  right: 0;

  &:hover {
    animation: zoom 300ms $transition-type;
  }
}

.lines {
  background-color: $texts-and-icons;
  width: 100%;
  height: 5px;
  margin: 5px 0;
  transition: all 450ms $transition-type;
}

// SET ANIMATION EFFECT - HAMBURGUER MENU CLOSED

.close-hamburguer {
  .lines {
    cursor: pointer;
  }

  .line-top {
    transform: translateY(200%) rotate(45deg);
  }

  .line-mid {
    opacity: 0;
  }

  .line-bottom {
    transform: translateY(-200%) rotate(135deg);
  }
}

footer {
  width: 100%;
  text-align: center;

  .project-info {
    bottom: 0;
    transform: translateY(-2rem);
    color: $silver;
  }
}