#g-body {
  background: url('../img/hogwarts.png');
  background-attachment: fixed;

  .g-main {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: max-content;
    position: relative;

    .sticky-wrapper {
      position: relative;

      .icon-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100vh;

        .big-icon {
          .icon.big {
            width: 200px;
          }
        }

        .search-box {
          width: 260px;
          padding: 20px 35px;
          border: 1px solid white;
          border-radius: 5px;
          font-size: 16px;
        }

        .small-icon-wrapper {
          display: flex;
          // align-content: space-between;
          width: 100%;
          justify-content: space-evenly;

          .small-icon {
            .icon.small {
              width: 80px;
            }
          }
        }
      }
    }

    .list-wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-auto-rows: 200px;
      margin: 2rem 2rem 2rem 0;

      .role {
        display: grid;
        grid-template-rows: 2fr repeat(4, 1fr);
        cursor: pointer;

        &>* {
          text-align: center;
          place-self: center;

          &:last-child {
            margin-bottom: 1rem;
          }
        }
      }
    }

    .module {
      position: fixed;
      width: 70vw;
      height: 70vh;
      background: white;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
      background-color: black;
      background-image:
        radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
        radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
        radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
        radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
      background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
      background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
      outline: 2px solid aliceblue;
      outline-offset: -18px;
      border: 2px solid #1e6aac;
      border-radius: 3px;

      .character-avatar {
        width: 15vw;
        position: absolute;
        right: 4rem;
        top: 4rem;
      }

      .allInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60%;
        font-size: 20px;
        text-align: left;
        margin: 2vh 5vw;
        color: #c1cab0;

        &>* {
          margin-top: .5rem;
        }

        p {
          text-indent: 50px;

          &:first-of-type {
            margin-top: 1rem;
          }
        }

        .name {
          margin-top: -20px;
        }

        span.title {
          font-weight: bold;

          &::after {
            content: "";
            width: 10px;
            display: inline-block;
          }
        }
      }

      .module-close-btn {
        width: 50px;
        margin-bottom: -20px;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          transition: transform 0.3s;
        }
      }
    }
  }
}

.role {
  background: $beige-tone;
}

.student {
  background: $student;
  color: #e3e3e3;
}

.professor {
  background: $staff;
  color: #edf2f7;
}

.ghost {
  background: $ghost;
}

.isUndefined {
  background: $undefined;
  color: $silver;
}

.headmaster {
  background: $gryffindor-red;
  color: $gold-brown;
}

.auror {
  background: $ravenelaw-blue;
  color: $silver;
}

.founder {
  background: $slytherin-green;
  color: #e1d4c5;
}

.sticky-wrapper {
  position: relative;

  .icon-wrapper {
    position: sticky;
    top: 1rem;
  }
}

.overlay-blur {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}