#form {
  width: 65%;
  margin-left: 35%;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.container {
  width: 500px;
  width: 80vw !important;
  min-width: 280px;
  max-width: 500px;
  padding: 3% 3%;
  height: max-content;
  border: 2px solid #ccc;
  background: rgba(227, 227, 240, 0.7);

  .center {
    h1 {
      margin-bottom: 1rem;
    }
  }
}


button {
  margin: 25px auto -20px;
  display: block;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 1.25em;
  background: black;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

button:hover {
  color: black;
  background: white;
  transition: color 0.1s, background 0.1s;
}

label {
  font-size: 1.25em;
  padding: 1%;
}

@media only screen and (max-width: 550px) {
  .container {
    width: 94%;
  }
}

#quiz-body {
  background: linear-gradient(180deg, transparent 0%, #333 100%), url(https://images.unsplash.com/photo-1467646208740-18124b37eb58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2076&q=80) center no-repeat;
  // background: center/cover no-repeat url(https://images.unsplash.com/photo-1551269901-5c5e14c25df7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  // background-position: center;
  // background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // height: 100vh;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-around;

  .go-to-fp {
    order: 1;
    position: relative;
    width: min-content;
    background: transparent;
    margin-top: 4vh;

    &::before {
      content: 'Go back to frontpage';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -2.5rem;
      color: #d2dae2;
      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      width: max-content;
    }

    .go-to-fp-img {
      width: 12vw;
      min-width: 70px;
      max-width: 140px;
      display: block;
      margin: 0 auto;
      filter: invert(67%) sepia(41%) saturate(4017%) hue-rotate(178deg) brightness(100%) contrast(91%);

      &:hover {
        transform: scale(1.1);
        filter: invert(33%) sepia(36%) saturate(2257%) hue-rotate(339deg) brightness(101%) contrast(94%);
        transition: filter 0.5s, transform 0.3s;
      }
    }
  }

  #quiz-footer {
    order: 2;

    .project-info {
      transform: translateY(0);
    }

    .date{
      margin-top: 2vh;
      color: #718093;
    }
  }
}

.scoreAndQuestionArea {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.level-btn-group {
  left: 50%;
  display: flex;
  top: 2rem;
  width: 80vw;
  min-width: 280px;
  max-width: 500px;

  .level {
    width: 100%;
    margin: 0;
  }

  &>*:not(:last-child) {
    margin: 0 2rem 0 0;
  }
}

#startBtn {
  margin-bottom: -2px;
}