#spell-body {
  height: 100vh;
  background: center/ cover no-repeat
    url("https://images.unsplash.com/photo-1551269901-5c5e14c25df7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  #spell-header {
    .spell-title {
      color: $silver;
      text-align: center;
    }
  }

  #spell-main {
    .spell-card {
      width: 70vw;
      height: 50vh;
      background: linear-gradient($silver, $gryffindor-yellow);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      box-shadow: 18px 22px 18px -21px #cccccc;
      border-radius: 5px;
      padding: .5em;

      .spell-name {
        font-size: 30px;
      }

      .spell-effect {
        font-size: 20px;
        text-align: center;
      }

      .spell-type {
        font-size: 20px;
      }
    }

    .getSpell {
      display: block;
      margin: 2rem auto auto;
      padding: 10px 40px;
      border-radius: 30px;
      border: 1px solid gray;
      font-size: 16px;
    }
  }

  .goBackToFrontPage {
    padding: 20px 30px;
    border-color: $blue;
    font-size: 20px;
    border-radius: 50%;
    color: $blue;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out 0.1s;

    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 100%;
      background: $blue;
      z-index: -1;
      transition: width 150ms ease-in-out;
    }

    &:hover {
      color: #fff;

      &:after {
        width: 110%;
      }
    }
  }

  #spell-footer {
    .project-info {
      transform: unset;
    }
  }
}

/* Wobble Horizontal */
@keyframes hvr-wobble-horizontal {
  16.65% {
    transform: translateX(8px);
  }

  33.3% {
    transform: translateX(-6px);
  }

  49.95% {
    transform: translateX(4px);
  }

  66.6% {
    transform: translateX(-2px);
  }

  83.25% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0);
  }
}

.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-wobble-horizontal:hover,
.hvr-wobble-horizontal:focus,
.hvr-wobble-horizontal:active {
  animation-name: hvr-wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
